<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">О нас</h2>
                    <h3 class="section-subheading text-muted">   </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Кто мы</h4>
                    <p class="text-muted">Мы состоявшаяся, спокойная гильдия, без беготни, скандалов и розовых соплей. Большинство наших игроков взрослые люди, которые просто отдыхают и получают удовольствие от игры.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Что просим</h4>
                    <p class="text-muted">В первую очередь - адекватность в общении. Все согильдийцы <strike><font size="2">должны активно участвовать в развитии гильдии, вносить вклады и улучшать сооружения</font></strike> <b>никому ничего не должны</b>. Регистрация в Дискорде для оффлайн общения(см. ниже) нужна в первую очередь вам.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Что от нас</h4>
                    <p class="text-muted">Живой чат в прайм-тайм, всегда поможем билдами и советами. Регулярно собираемся на мини и МВП. Закрываем и помогаем закрывать Бесконечную Башню, Руины Вальгаллы, Оракул и Чистилище.</p>
                </div>
            </div>
        </div>
    </section>
