<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Обращайтесь</h2>
                    <h3 class="section-subheading text-muted"><b>по всем вопросам к нашему гильдмастеру SupaSex и офицерам (ранг "Зам" в игре и красные ники в дискорде). Не забывайте предупредить, если вас не будет какое-то время. Сообщайте о проблемах со вкладами, поможем подобрать лучшее место фарма, обсудим "финансовые проблемы". Не стесняйтесь писать по любым интересующим вас вопросам.</b></h3>
                </div>
            </div>
        </div>
    </section>
