<!-- About Section -->
    <section id="more">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Подробнее</h2>
                    <h3 class="section-subheading text-muted">Что нужно сделать и куда идти</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://discord.gg/Wpz2kNm" target="_blank"><img class="img-circle img-responsive" src="img/about/2.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Шаг 1</h4>
                                    <h4 class="subheading">Присоединиться к дискорду</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Адрес сервера - <a href="https://discord.gg/Wpz2kNm" target="_blank">https://discord.gg/Wpz2kNm</a>.<br> Обязательна регистрация под игровым ником. Постоянный онлайн в дискорде не требуется, но не забывайте проверять новости и объявления.<br>Рекомендуем использовать приложение, но если по каким-то причинам это не возможно, то есть <a href="https://discordapp.com/login" target="_blank">веб-версия дискорда</a>. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Шаг 2</h4>
                                    <h4 class="subheading">Делаем вклады и улучшаем строения</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Не забывайте каждый день делать вклады в гильдию. Так же мы каждый день что-то строим, участвуйте как можете. Ранг "Нищий" выдается тем кто решил, что всё сделают за него. Если игрок не исправится, то его исключат из гильдии. В первую очередь вклады нужны ВАМ, без рун вы ничего не добьетесь в этой игре.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Шаг 3</h4>
                                    <h4 class="subheading">Играйте и общайтесь</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Общайтесь в чате, откликайтесь когда люди собирают группу или собирайте сами. Помогайте другим и не стесняйтесь просить помощи. У нас дружный и отзывчивый коллектив.</br> Присоединяйтесь к группе в ВК <a href="https://vk.com/madmansro" target="_blank">vk.com/madmansro</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>??? <br>
                                    <br>PROFIT!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
