<!-- About Section -->
    <section id="more">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Подробнее</h2>
                    <h3 class="section-subheading text-muted">Что нужно сделать и куда идти</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Шаг 1</h4>
                                    <h4 class="subheading">Сменить канал</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Холл Гильдии находится на RU8 канале, но абсолютное большинство игроков обитают на RU9, где проще с охотой на мини и МВП, с местами на каче и фарме. Сменить канал можно в Излюде, на самом верху карты стоит НПС перемещающий вас по каналам. Или, будучи в пати с согильдийцем с 9 канала, нажать на его иконку и "следовать".</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://discord.gg/Wpz2kNm" target="_blank"><img class="img-circle img-responsive" src="img/about/2.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Шаг 2</h4>
                                    <h4 class="subheading">Присоединиться к дискорду</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Не надо там сидеть в голосе, надо вступить, поставить ник как игровой и периодически проверять новости и объявления. Адрес сервера - <a href="https://discord.gg/Wpz2kNm" target="_blank">https://discord.gg/Wpz2kNm</a><br> Рекомендуем использовать приложение, но если по каким-то причинам это не возможно, то есть <a href="https://discordapp.com/login" target="_blank">веб-версия дискорда</a>. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Шаг 3</h4>
                                    <h4 class="subheading">Делаем вклады и улучшаем строения</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Не забывайте каждый день делать вклады в гильдию. Так же мы каждый день что-то строим, участвуйте как можете. Ранг "Нищий" выдается тем кто решил, что всё сделают за него. Если игрок не исправится, то его исключат из гильдии. В первую очередь вклады нужны ВАМ, без рун вы ничего не добьетесь в этой игре.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Шаг 4</h4>
                                    <h4 class="subheading">Играйте и общайтесь</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Пишите в чат, откликайтесь когда люди собирают группу и старайтесь собрать сами, не ждите, если вам надо в Башню или ещё куда-то. Помогайте другим и не стесняйтесь просить помощи сами. У нас дружный и отзывчивый коллектив.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>??? <br>
                                    <br>PROFIT!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
