<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Мы рады, что вы с нами</h2>
                    <h3 class="section-subheading text-muted"><b>Надеемся, вам понравится у нас и мы надолго останемся вместе. Спасибо, что присоединились. Приятной игры и отличного лута.</b></h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">P.P.S. Пока ты спишь — враг качается!</p>
                </div>
            </div>
        </div>
    </section>
